<h1 style="background-color:powderblue;"> Add Vegetable </h1>
<h3> Additon of vegetables</h3>
<%= form_with model: @vegetables do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.label :qty %><br>
    <%= form.text_field :qty %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :avatar_img %><br>
    <%= form.file_field :avatar_img %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
